<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova_plugin_testcvplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>testcvplugin</name>
    <js-module name="testcvplugin" src="www/testcvplugin.js">
        <clobbers target="cordova.plugins.testcvplugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="testcvplugin">
                <param name="android-package" value="cordova_plugin_testcvplugin.testcvplugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/testcvplugin.java" target-dir="src/cordova_plugin_testcvplugin/testcvplugin" />
    </platform>
</plugin>